<%= title "Thank you" %>

<h2>Your session proposal "<%= @session.title %>" has been submitted, but it's not yet complete!</h2>

<h3>Important</h3>

<p>You will receive an <strong>email</strong> with instructions on how to log in to the site. Check your inbox.  If you don't receive email from us, please <a href="mailto:iad-sessions@googlegroups.com">let us know!</a> </p>

<p>Please log in and add more detailed info on your own session proposal, 
and improve it when you receive feedback. 
</p>

<p>
You are invited now to take part in our reviewing process where you review other session proposals, 
and others will review yours.
</p>

<p>Go checkout your mail box and log on to join us! </p>

<p>If you have any problem or question, send us an <a href="mailto:iad-sessions@googlegroups.com">email</a>. </p> 

<p>The Italian Agile Day Team. </p> 

